<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='stylesheet.css')}}">
    <title>Library</title>
</head>
<body>
    <nav class="nav">
        <ul class="nav--spacing">
            <li class="nav__item home"><a class="nav--text" href="/">Home</a></li>
            <li class="nav__item"><a class="nav--text" href="/form">add book <span class="nav--plus">+</span></a></li>
        </ul>
    </nav>
    {%block content%}{%endblock content%}
</body>
</html>