{%extends 'base.jinja'%}{%block content%}
<h1 class="title">{{book.title}}</h1>
<h3 class="author">{{book.author}}</h3>
<p class="genre">{{book.genre}}</p><hr/>
{%if book.blurb|length >0%}
    <p class="blurb">{{book.blurb[0]}}</p>
{% endif %}
<ul class="list copies">
    {%for copy in book.checked_out%} {# buttons to check in/out, add & remove copies #}
    <li class="copy">
        <label class="copy__number">copy {{loop.index}}</label>
        {%if copy%}
            <span class="copy--checked">~checked out~</span>
        {%endif%}
        <form action="/books/{{index}}/{{loop.index0}}" method="post">
            <input class="button" type="submit" value="check {%if copy%}in{%else%}out{%endif%}">
        </form>
        <form action="/books/{{index}}/{{loop.index0}}/delete" method="post">
            <input class="button delete" type="submit" value="delete">
        </form>
    </li>
    {% endfor %}
</ul>
<br/>
<form action="/books/{{index}}/add" method="post"><input class="button" type="submit" value="add copy"></form>
{# find a way to get the add copy button to have a plus like the add book link #}
{%endblock content%}