{%extends 'base.jinja'%}{%block content%}
<h1>{{title}}</h1>
<form action="/books/{{books|length}}" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title"><br/>

    <label for="author">Author</label>
    <input type="text" name="author" id="author"><br/>

    <label for="genre">Genre</label>
    <input type="text" name="genre" id="genre"><br/>

    <label for="checked_out">Checked out</label>
    <input type="radio" id="checked_out" name="checked" value=1><br/>

    <label for="available">Available</label>
    <input type="radio" id="available" name="checked" value="" checked><br/>

    <input type="submit" value="Submit">
</form>
{% endblock content %}