{%extends 'base.jinja'%}{%block content%}
<h1>{{title}}</h1>
<ul>
  {%for book in books%}  
    <li>
      {{book.author}} - <b>{{book.title}}</b>
      {%if book.checked_out%}
        <span>~checked out~</span>
      {%endif%}
      <form action="/books/{{loop.index0}}/delete" method="post"><input type="submit" value="Remove"></form>
    </li>
  {%endfor%}
</ul>
{%endblock content%}