{%extends 'base.jinja'%}{%block content%}
<h1>Library</h1>
<ul>
  {%for book in books%}  
    <li>
      {{book.author}} - <a href="/books/{{loop.index0}}"><b>{{book.title}}</b></a>
      {%if book.checked_out%}
        <span>~checked out~</span>
      {%endif%}
      <form action="/books/{{loop.index0}}/delete" method="post"><input type="submit" value="Remove"></form>
    </li>
  {%endfor%}
</ul>
{%endblock content%}